@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 22px;
    --green: #1ED760;
    --dark: #1a1a1a;

}

body {
    font-family: 'Prompt', sans-serif;
    color: white;
    background: var(--dark);
}

.container {
    width: 100%;
    display: grid;
    grid-column: 1fr;
    position: relative;
}

header {
    position: relative;
    font-size: 1.8rem;
    
    min-height: 100px;
}

header h1 {
    text-align: right;
    display: block;
    padding-right: 15px;
    z-index: 5;
}


.mainLogo img {
    /* border: 1rem solid white; */

    z-index: 5;
    border-radius: 50%;
    width: 100%;
    /* transition: 1s all ease-in-out; */

    -webkit-box-shadow: 8px 8px 44px -1px rgba(40, 64, 40, 1);
    -moz-box-shadow: 8px 8px 44px -1px rgba(40, 64, 40, 1);
    box-shadow: 8px 8px 44px -1px rgba(40, 64, 40, 1);

}

.mainLogo {

    z-index: 3;
    top: 30px;
    left: 10px;
    position: absolute;
    width: 20%;
}

/* .logo_box{
    display: flex;
} */



.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -10;

}

.layer1 {
    background-image: url('img/bg1.svg');
    position: absolute;
    
    top: 0;



}


.flip {
    transform: rotate(180deg);
}

main{
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    z-index: 2;
    text-align: center;
}

.input_area{
    display: flex;
    flex-direction: column;
    width: 50%;
}
input{
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 5px solid var(--green);
    margin: 5px;
    
}

.input_area input{
    /* height: 80px; */
}

.download_btn{
    
    /* border: 5px solid black; */
    padding: 0;
    display: flex;
    cursor: pointer;
    
    
}

.download_btn svg{
    width: 55px;
    margin: auto;
    
}
.downloadLink__error{
    color: rgba(243, 35, 8, 0.973);
}
.downloadLink{
    padding: 25px;
}
/* ======================= */

.song_title{
    font-size: 1.5rem;
}

.song_image{

}

.song_image img{
    width: 50%;
    border-radius: 50px;
}
/* ================ */

a{
    color:white;

}
/* =========================== */
.blob{
    width:100%;
    position: relative;
}
.blob-motion{
    position: absolute;
    transform: translateY(-10%);
    z-index: 0;
    /* top: 0px; */
    aspect-ratio: 900/300;
   width: 100%;
   z-index: -2;
   top: 0;
}

.songInfo{
    text-align: center;
    z-index: 2;
}




body::-webkit-scrollbar {
    width: 5px; 
    height: 5px;              
  }
  
  body::-webkit-scrollbar-track {
   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--green);    
    
  }





/* ---------------------------------- */

@media screen and (min-width: 768px){
    .mainLogo{
        /* top: 100px; */
        
         transform: translateY(10vh);
    }
    header{
        min-height: 200px;
        /* font-size: 2rem; */
    }

    header h1{
        text-align: center;
    }
    input{
        font-size: 1.1rem;
    }

   
}

@media screen and (min-width: 1024px){
    /* .mainLogo{

        
         transform: translateY(10vh);
    } */
    html{
        font-size: 30px;
    }
    header{
        min-height: 400px;

    }

  
}

@media screen and (min-width: 1280px){

    header{
        /* min-height: 400px; */
        font-size: 2rem;
    }

  
}