@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 22px;
    --green: #1ED760;

}

body {
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #1a1a1a;
}

.container {
    width: 100%;
    display: grid;
    grid-column: 1fr;
    position: relative;
}

header {
    position: relative;
    font-size: 1.8rem;
    
    min-height: 10px;
}

header h1 {
    text-align: right;
    display: block;
    padding-right: 15px;
    z-index: 5;
}


.mainLogo img {
    /* border: 1rem solid white; */

    z-index: 5;
    border-radius: 50%;
    width: 100%;

    -webkit-box-shadow: 8px 8px 44px -1px rgba(40, 64, 40, 1);
    -moz-box-shadow: 8px 8px 44px -1px rgba(40, 64, 40, 1);
    box-shadow: 8px 8px 44px -1px rgba(40, 64, 40, 1);

}

.mainLogo {

    z-index: 3;
    top: 30px;
    left: 10px;
    position: absolute;
    width: 20%;
}

/* .logo_box{
    display: flex;
} */



.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -10;

}

.layer1 {
    background-image: url('img/bg1.svg');
    position: absolute;
    
    top: 0;



}


.flip {
    transform: rotate(180deg);
}

main{
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    z-index: 2;
}

.input_area{
    display: flex;
    flex-direction: column;
    width: 50%;
}
input{
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 5px solid var(--green);
    margin: 5px;
    
}

.input_area input{
    /* height: 80px; */
}

.download_btn{
    
    /* border: 5px solid black; */
    padding: 0;
    display: flex;
    
    
}

.download_btn svg{
    width: 55px;
    margin: auto;
    
}


.blob-motion{
    position: absolute;
    transform: translateY(-10%);
    z-index: 0;
    aspect-ratio: 900/300;
   width: 100%;
   z-index: -2;
}